body {
    background-color: #adf7ff;
    padding: 10px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
    color: #696969;
}

#div {
    padding: 10px;
    position:absolute;
    top:0;
    right:0;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: white; /* Green */
    border: none;
    color: dimgrey;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    /*margin: 4px 2px;*/
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    transition-duration: 0.4s;
  }
  
  .button1:hover {
    background-color: dimgrey; /* Green */
    color: white;
  }

